body {
  background-color: white;
  color: #0000FF;
  font-size: 16px;
  line-height: 22px

}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
  text-decoration: none;
}
h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 50px;
  margin-bottom: 25px
}
h3 {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 28px;
  margin-bottom: 25px
}

figcaption {
  font-size: 12px
  color: #d3d3d3;
  font-family: sans-serif;
  font-style: italic;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
